#menu {
    margin-top: 40px;
}

#frmCadastro {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#botaocadastro {
    width: 350px;
    padding: 15px 20px;
    margin-left: 140%;
}

#tabelaCadastro {
    margin: 0;
    padding: 0;
}